member {
    display: inline-block;
    background: black;
    height: 100px;
    min-width: 100px;
    color: #fff;
    text-align: center;
    margin-right: 5px;

    h1 { 
        font-size: 18px;
    }
}
